#NavbarContainer {
  background-color:#2f2235;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  max-width: 1600px;
  z-index: 1;
  align-items: center;
  list-style: none;
  text-align: center;
}

#LinkContainer a {
  color: white
}

#footer {
  background-color: #2f2235;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#recipeBook {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#signInContainer {
  padding: 1em;
}

#signInForm {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#discover_container {
  padding: 1em;
  /* display: flex;
  flex-direction: column; */
}

#discoverNewRecipesByCuisine {
  display: flex;
  padding: 1em;
  background-color: #E6E6ED;
}

#discoverCuisineContainer {
  padding: 1em;
  display: flex;
  flex-direction: row;
}

#discoverCuisineItem {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 33%;
}



#profileContainer {
  padding: 1em;
  /* display: flex;
  flex-direction: column; */
}

.extractRecipeHome {
  padding: 1em;
}

#parsedText {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#editRecipeContainer {
  padding: 1em;
}

#urlForRecipe {
  width: 300px;
}

#userProfile {
  padding: 1em;
  background-color: #E6E6ED;
  /* display: flex;
  flex-direction: column; */
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#extractionMethods {
  padding: 1em;
  display: flex;
  flex-direction: row;
}



#extractFromUrl {
  padding: 1em;
  text-align: center;
  background-color: #E6E6ED;
  margin: 20px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#extractFromUpload {
  padding: 1em;
  text-align: center;
  background-color: #E6E6ED;
  margin: 20px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  font-weight: bold;
}

#linkToSignIn {
  text-align: center;
  font-weight: bold;
  display: block;
}

#funFactText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style-type: none;
}

#recipeBookHeader {
  text-align: center;
  background-color: #E6E6ED;
}

#signInForm {
  padding: 1em;
  background-color: #E6E6ED;
  margin: 20px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#singleRecipeInBook {
  padding: 1em;
  background-color: #E6E6ED;
  margin: 20px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#recipeBookImage {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#signInLandingImage {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.deleteRecipeButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: auto;
  margin-right: auto;
}

.logOutButton {
  text-align: center;
  background-color:#E6E6ED;
	border-radius:28px;
	border:1px solid #2f2235;
	display:block;
	cursor:pointer;
	color:#2f2235;
	font-family:Georgia;
	font-size:small;
	padding:12px 25px;
  text-decoration:none;
  font-weight: 500;
}

.signInNavButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#2f2235;
	font-family:Georgia;
	font-size:small;
	padding:12px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  font-weight: 500;
}

.signUpNavButton {
  text-align: center;
  background-color:#2e159c;
	border-radius:28px;
	border:1px solid #5a45d1;
	display:block;
	cursor:pointer;
	color:#2f2235;
	font-family:Georgia;
	font-size:small;
	padding:12px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #481880;
  font-weight: 500;
}

#selectFile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.extractURLButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: auto;
  margin-right: auto;
}

#userProfileButtons {
  display: flex;
  direction: row;
}

.editProfileButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: auto;
  margin-right: auto;
}

#addToRecipeBoxButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: auto;
  margin-right: auto;
}

.deleteProfileButton {
  text-align: center;
  background-color:#ecaaaa;
	border-radius:28px;
	border:1px solid #f58787;
	display:block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ecaaaa;
  margin-left: auto;
  margin-right: auto;
}

.extractUploadButton {
  text-align: center;
  background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  margin-left: auto;
  margin-right: auto;
}

.deleteRecipeButton:hover {
	background-color:#5cbf2a;
}

#LinkContainer {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
}

#LinkItem {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  /* ${'' /* width: 100%; */

  /* &:active {
    color: #01bf71;
    border-bottom: 3px solid #01bf71;
  } */

  /* &:hover {
    transition: all 0.2s ease-in-out;
    color: #01bf71;
  } */
}

#footer {
  background-color: lightgray;
}

/* #parsedTextContainer {
  height: 200px;
  width: 200px
} */
